.currencyPair 
    width: 25%
    display: block
    float: left

.bidPrice, .askPrice
    text-align: right
    width: 25%
    display: block
    float: left

.bidArrow, .askArrow
    width: 20px;
    display: block;
    float: left;


.bidArrow.up, .askArrow.up
    color: rgb(255,178,178);


.bidArrow.down, .askArrow.down 
    color: rgb(196,217,247);

  