.currencyPair 
    width: 30%
    display: block
    float: left

.bidPrice, .askPrice
    text-align: right
    width: 25%
    display: block
    float: left

.bidArrow, .askArrow
    width: 20px;
    display: block;
    float: left;

.bidArrow.up, .askArrow.up
    color: rgb(255,178,178);

.bidArrow.down, .askArrow.down 
    color: rgb(196,217,247);

.pricePanelDetail .label
    float: left
    display: block
    width: 25%
    text-align: left

.pricePanelDetail .value
    float: right
    display: block
    width: 25%
    text-align: right

#detail .barArea
    clear: both;
    width: 320px
    height: 200px

.jqplot-axis 
    font-size: x-small;

#barTypeChanger
    font-size: x-small;




