.currencyPair {
  width: 30%;
  display: block;
  float: left;
}
.bidPrice,
.askPrice {
  text-align: right;
  width: 25%;
  display: block;
  float: left;
}
.bidArrow,
.askArrow {
  width: 20px;
  display: block;
  float: left;
}
.bidArrow.up,
.askArrow.up {
  color: #ffb2b2;
}
.bidArrow.down,
.askArrow.down {
  color: #c4d9f7;
}
#detail .leftArea {
  float: left;
  width: 30%;
  margin: 5px;
}
#detail .rightArea {
  float: left;
  width: 70%;
  margin: 5px;
  text-align: right;
}
#detail .bid,
#detail .ask {
  font-size: 24px;
  font-weight: bold;
}
#detail .change,
#detail .high,
#detail .low {
  font-size: 16px;
}
#detail .chartArea {
  clear: both;
}
