.currencyPair {
  width: 30%;
  display: block;
  float: left;
}
.bidPrice,
.askPrice {
  text-align: right;
  width: 25%;
  display: block;
  float: left;
}
.bidArrow,
.askArrow {
  width: 20px;
  display: block;
  float: left;
}
.bidArrow.up,
.askArrow.up {
  color: #ffb2b2;
}
.bidArrow.down,
.askArrow.down {
  color: #c4d9f7;
}
#detail .label {
  float: left;
  font-size: small;
  height: 30px;
  line-height: 30px;
}
#detail .price,
#detail .value {
  float: right;
  width: 80px;
  height: 30px;
  line-height: 30px;
}
#detail .currencyPair {
  font-size: xx-large;
  clear: both;
}
#detail .bid,
#detail .ask {
  font-size: xx-large;
  clear: both;
}
#detail .change,
#detail .high,
#detail .low {
  font-size: large;
  clear: both;
}
#detail .barArea {
  clear: both;
  width: 320px;
  height: 200px;
}
.jqplot-axis {
  font-size: x-small;
}
