<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no,initial-scale=1" />
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      var socket = io.connect('<%= hostname %>');
      socket.on('price', function (data) {
        var currencyPair = data.currencyPair.replace("/", "");
        var target = document.getElementById("pricePanel_" + currencyPair);
        target.innerHTML = data.currencyPair;
      });
     </script>
  </head>
  <body>
    <h2>PricePanel Prototype powerd by Socket.IO</h2>
    mobile.ejs
    <div class="pricePanel" id="pricePanel_USDJPY">
      <div class="currencyPair">--</div>
      <div class="bid">--</div>
      <div class="ask">--</div>
    </div>
  
    <div class="pricePanel" id="pricePanel_EURJPY">
      <div class="currencyPair">--</div>
      <div class="bid">--</div>
      <div class="ask">--</div>
    </div>

    <div class="pricePanel" id="pricePanel_AUDJPY">
      <div class="currencyPair">--</div>
      <div class="bid">--</div>
      <div class="ask">--</div>
    </div>

    <div class="pricePanel" id="pricePanel_CHFJPY">
      <div class="currencyPair"></div>
      <div class="bid">--</div>
      <div class="ask">--</div>
    </div>
    
    <div class="pricePanel" id="pricePanel_CADJPY">
      <div class="currencyPair"></div>
      <div class="bid">--</div>
      <div class="ask">--</div>
    </div>
    <div class="pricePanel" id="pricePanel_NZDJPY">
      <div class="currencyPair"></div>
      <div class="bid">--</div>
      <div class="ask">--</div>
    </div>
    
  </body>
</html>
