        <div data-role="page" id="detail">
            <div data-role="header" data-position="fixed">
                <a data-rel="back" class="ui-btn-left" data-transition="slideleft">Currencies</a>
                <h2>Detail</h2>
            </div>
            <div data-role="contents">
                <div class="priceDetailArea">

                    <div class="ui-grid-a">
                        <div class="ui-block-a">CurrencyPair: </div>
                        <div class="currencyPair value ui-block-b">USD/JPY</div>
                    </div>
                    <div class="ui-grid-a">
                        <div class="ui-block-a">Bid: </div>
                        <div class="bidPrice price ui-block-b">78.15</div>
                    </div>
                    <div class="ui-grid-a">
                        <div class="ui-block-a">ASK: </div>
                        <div class="askPrice price ui-block-b">78.15</div>
                    </div>
                    <div class="ui-grid-a">
                        <div class="ui-block-a">CHANGE: </div>
                        <div class="changePrice price ui-block-b">78.15</div>
                    </div>
                    <div class="ui-grid-a">
                        <div class="ui-block-a">HIGH: </div>
                        <div class="highPrice price ui-block-b">78.15</div>
                    </div>
                    <div class="ui-grid-a">
                        <div class="ui-block-a">LOW: </div>
                        <div class="lowPrice price ui-block-b">78.15</div>
                    </div>
                </div>
                <div id="bar" class="barArea"></div>
            </div>
        </div>
 