        <div data-role="page" id="detail">
            <div data-role="header" data-position="fixed">
                <a data-rel="back" class="ui-btn-left" data-transition="slideleft">Currencies</a>
                <h2>Detail</h2>
            </div>
            <div data-role="contents">
                <div class="leftArea">
                    USD/JPY
                </div>
                <div class="rightArea">
                    <div class="bid">
                        <div class="bidLabel label">BID: </div>
                        <div class="bidPrice price">78.15</div>
                    </div>
                    <div class="ask">
                        <div class="askLabel label">ASK: </div>
                        <div class="askPrice price">79.16</div>
                    </div>
                    <div class="change">
                        <div class="changeLabel label">CHANGE: </div>
                        <div class="changePrice price">+0.1</div>
                    </div>
                    <div class="high">
                        <div class="highLabel label">HIGH: </div>
                        <div class="highPrice price">79.32</div>
                    </div>
                    <div class="low">
                        <div class="lowLabel label">LOW: </div>
                        <div class="lowPrice price">77.32</div>
                    </div>
                </div>
                <div id="chartArea">chartArea</div>
            </div>
        </div>
 