<div data-role="footer" data-position="fixed">
    <div data-role="navbar">
        <ul>
			<li><a href="#currencies">Currencies</a></li>
			<li><a href="#chat">Chat</a></li>
    		<li><a href="#info">Info</a></li>
		</ul>
	</div>
</div>
